*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 전체 컨테이너 중앙 정렬 */
.container {
  max-width: 1400px;   /* 프로젝트 규칙 유지 */
  margin: 0 auto;      /* 브라우저 기준 중앙 정렬 */
  display: grid;
  align-items: center;
  padding: 0 130px;
}

/* 제목 */
.title {
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  margin: 30px 0;
}

/* 첫 번째 섹션 (팀 소개) */
.team-info {
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, auto));
  justify-content: space-around;
  gap: 60px;             /* 이미지와 텍스트 간 간격 */
  width: 100%;
}

.team-info > img {
  width: 515px;
  height: 345px;
}

.team-info .info-text .underline {
  width: 100px;
  height: 2px;
  border: 1px solid #7F7D7D;
  margin: 40px 0;
}

.team-info .info-text {
  margin-left: 30px;

}

/* 두 번째 섹션 (미세먼지) */
.misemeonji {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, auto));
  justify-content: space-around;
  gap: 60px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 85px;
}

/* 이미지 크기 */
.misemeonji > img {
  width: 515px;
  height: 345px;
}

/* 텍스트 영역 */
.misemeonji .info-text {
 
}

.misemeonji .info-text > h2 {
  font-size: 25px;
}

.misemeonji .info-text .underline {
  width: 100px;
  height: 2px;
  border: 1px solid #7F7D7D;
  margin: 40px 0;
}


/* 반응형 대응 */
@media screen and (max-width: 768px) {

}
