.title {
    font-size: 40px;
    font-weight: bold;
    margin: 30px;
    text-align: left;
}

.alert-status-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 55px 0;
  gap: 20px;
}

.alert-status-card {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  width: 280px;
  border: 1px solid black;
  padding: 20px;
}

.alert-status-card-districtName {
    background-color: #F8F5DC;
    color: black;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.alert-status-card-contents > div {
    font-size: 15px;
    text-align: left;
    color: black;
}

.alert-status-card-issueGbn {
    background-color: #F8EC92;
    color: #ED850E;
    border-radius: 20px;
    text-align: center;
}
