.header-box {
  width: 100vw;
  height: 150px;
}

.header-background {
  width: 100%;
  height: 150px;  
  background-size: cover;
  background-repeat: no-repeat;
}

.header-contents {
  max-width: 1400px;
  height: 150px;
  display: grid;
  grid-template-columns: 240px 1fr;
  align-items: center;
  margin: 0 auto;
}

.header-logo {
  width: 135px;
  height: 150px;
}

.header-logo > img {
  width: 135px;
  height: 135px;
  margin-top: 8px;
}

.header-nav {
  height: 150px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center; /* 세로 중앙 정렬 */
  justify-items: center; /* 가로 중앙 정렬 */
  gap: 40px;
}

.header-nav-contents {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  cursor: pointer; 
}

.nav-line {
  color: #fff;
  font-size: 60px;
  text-align: center;
  line-height: 1;
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-items: center; /* 가로 중앙 정렬 */
  height: 100%; /* 부모 높이와 동일하게 */
  margin-bottom: 15px;
  transform: translateY(2px); /* 시각적 보정 (글꼴별 미세 튀는 현상 방지) */
}


/* ------- 모바일 반응형 css -------- */

.header-mobile {
  width: 100vw;
  height: 75px;
}

.header-mobile-box {
   width: 100vw;
   height: 75px;
 }

.header-mobile-background {
   width: 100%;
   height: 75px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-size: cover;
   background-repeat: no-repeat;
 }


.header-mobile-contents {
  height: 75px;  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.header-mobile-contents > img {
  width: 55px;
  height: 55px;
}

.header-mobile-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.header-mobile-hamburger span {
  display: block;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}


/* --- 반응형 미디어 쿼리 --- */

.header-pc {
  display: block;
}

.header-mobile {
  display: none;
}

@media (max-width: 1010px) {
  .header-pc
  {
    display: none;
  }

  .header-mobile {
    display: flex;
  }
}

