.header-box {
  width: 100vw;
  height: 150px;
}

.header-background {
  width: 100%;
  height: 150px;  
  background-size: cover;
  background-repeat: no-repeat;
}

.header-contents {
  max-width: 1400px;
  height: 150px;
  display: grid;
  grid-template-columns: 240px 1fr;
  align-items: center;
  margin: 0 auto;
}

.header-logo {
  width: 135px;
  height: 150px;
}

.header-logo > img {
  width: 135px;
  height: 135px;
  margin-top: 8px;
}

.header-nav {
  height: 150px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center; /* 세로 중앙 정렬 */
  justify-items: center; /* 가로 중앙 정렬 */
  gap: 40px;
}

.header-nav-contents {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-decoration: none; 
}

.nav-line {
  color: #fff;
  font-size: 60px;
  text-align: center;
  line-height: 1;
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-items: center; /* 가로 중앙 정렬 */
  height: 100%; /* 부모 높이와 동일하게 */
  margin-bottom: 15px;
  transform: translateY(2px); /* 시각적 보정 (글꼴별 미세 튀는 현상 방지) */
}


/* ------- 모바일 반응형 css -------- */

.header-mobile {
  width: 100vw;
  height: 75px;
}

.header-mobile-box {
   width: 100vw;
   height: 75px;
 }

.header-mobile-background {
   width: 100%;
   height: 75px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-size: cover;
   background-repeat: no-repeat;
 }


.header-mobile-contents {
  height: 75px;  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.header-mobile-logo {
  max-width: 55px;
  max-height: 55px;
  margin-top: 2px;
}

.header-mobile-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.header-mobile-hamburger span {
  display: block;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}


/* --- 햄버거 버튼 클릭 시 모바일 메뉴 --- */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -80%;
  width: 80%;
  height: 80%;
  background: linear-gradient(to top, #66c6ff, #2a91ff);
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3);
  transition: right 0.4s ease;
  z-index: 15;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.mobile-menu.open {
  right: 0;
}

.mobile-menu-header {
  width: 95%;
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  font-size: 40px;
  margin-bottom: 8px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.mobile-menu-items {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.menu-first-line {
  width: 90%;
  height: 2px;
  background-color: #fff;
  margin: 25px 0;
}

.itemhome {
  height: 43px;
  width: 90%;
  text-align: right;
  cursor: pointer;
  padding: 0;
}

.itemhome > img {
  width: 43px;
  height: 43px;
}

.menu-item {
  width: 90%;
  padding-right: 15px;
  padding-top : 4px; /* 글자 세로 중앙 정렬 위한 조처 */
  padding-bottom: 8px;
  background: #fff;
  color: #1184ff;
  font-size: 30px;
  font-weight: 600;
  text-align: right;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.menu-item:hover {
  background: #1184ff;
  color: #fff;
}

.menu-line {
  width: 90%;
  height: 2px;
  background-color: #fff;
  opacity: 35%;
  margin: 4px 0;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}


/* --- 반응형 미디어 쿼리 --- */

.header-pc {
  display: block;
}

.header-mobile {
  display: none;
}

@media (max-width: 1010px) {
  .header-pc
  {
    display: none;
  }

  .header-mobile {
    display: flex;
  }
}