.top-btn {
  background-image: url(../../assets/topbtn.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 72px;
  height: 72px;
  right: 15px;
  position: fixed;
  transition: bottom 0.2s ease-in-out;
  z-index: 2;
}

@media (max-width: 800px) {
  .top-btn {
    width: 45px;
    height: 45px;
  }
}