* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#root {
  margin: 0px auto;
}

:root {
  /* ==================================== */
  /* 1. 레이아웃 및 간격 (Layout & Spacing) */
  /* ==================================== */
  
  /* 간격 변수 (sp: spacing) */
  --sp-xs: 20px; /* 컨텐츠 내부 카드 gap */
  --sp-sm: 30px; /* 헤더와 부제목 사이 */
  --sp-lg: 85px; /* 부제목과 컨텐츠 사이 */


  /* ==================================== */
  /* 2. 색상 (Colors) - clr */
  /* ==================================== */
  
  /* 주 사용 색상 (미세먼지 등급 컬러외 버튼, 언더바 컬러) */
  --clr-wh: #ffffff;  
  --clr-bk: #000000; 
  --clr-bl: #B3F0FF; 
  --clr-db: #66c6ff; 
  --clr-gn: #92FF92;
  --clr-y: #FFED69;
  --clr-r: #FE4132;
  --clr-dr: #c53030;
  --clr-gy: #D9D9D9;
  --clr-dg: #666666;


  /* ==================================== */
  /* 3. 타이포그래피 (Typography) */
  /* ==================================== */
  
  /* 텍스트 크기 (Font Size) - fs */
  --fs-sub: 40px;      /* 부제목 */
  --fs-cnt-title: 30px;    /* 콘텐츠 제목 */
  --fs-cnt-sub: 25px; /* 콘텐츠 부제목 (카드 내부) */
  --fs-cnt-body: 15px;     /* 콘텐츠 내용 */
  --fs-msg-title: 25px;    /* 에러, 로딩, 엔드 메세지 제목 */
  --fs-msg-body: 20px;     /* 에러, 로딩, 엔드 내용 */

  /* 텍스트 굵기 (Font Weight) - fw */
  --fw-bold: 900;      /* 굵게 */
}

/* 

텍스트 공통 사항 ->
※ 헤더 아래에 들어있는 margin20px 제외
헤더와 부제목 사이 30px
부제목과 컨텐츠 사이 85px(30 + 55) 
컨텐츠 내부 카드의 gap = 20px
부제목 : 40px, 굵게, 왼쪽정렬 
콘텐츠 제목 : 30px, 굵게, 왼쪽정렬
콘텐츠 부제목 : 25px, 굵게, 왼쪽정렬 / 카드 안에서는 중앙정렬
콘텐츠 내용 : 15px, normal, 왼쪽정렬
콘테이너 너비 : 1400px 

색깔 공통 사항 ->
글자색은 무조건 배경이 어두우면 #ffffff, 배경이 밝으면 #000000으로 통일
우리가 페이지 내부에서 주로 사용하는 색은 
파란색#B3F0FF, 연두색#92FF92, 노란색#FFED69, 빨간색#FE4132 (미세먼지 등급에서 많이 쓰이는 컬러들)
버튼의 그레이색은 #D9D9D9 혹은 #666666

*/
