.air-quality-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.card-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.card-subtitle {
  font-size: 10px;
  color: #757575;
  margin-bottom: 15px;
}

/* 이미지와 placeholder를 담는 컨테이너 */
.card-image-container {
  width: 100%;
  height: 80px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image {
  max-width: 100%;
  max-height: 100%;
}

.card-image-placeholder-good {
  width: 54px;
  height: 65px;
  background-image: url('../../assets/good.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.card-image-placeholder-moderate {
  width: 54px;
  height: 65px;
  background-image: url('../../assets/moderate.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.card-image-placeholder-bad {
  width: 54px;
  height: 65px;
  background-image: url('../../assets/bad.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.card-image-placeholder-very-bad {
  width: 54px;
  height: 65px;
  background-image: url('../../assets/very-bad.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.card-value {
  font-size: 15px;
  font-weight: 700;
  color: #212121;
  margin-bottom: 5px;
}

.card-unit {
  font-size: 10px;
  color: #757575;
}
