.contents-size-main-left {
  max-width: 800px;
  width: 100%;
  min-height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-container {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-head-container {
  max-width: 530px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dropdown-btn {
  display: flex;
  gap: 90px;
}

/* 오늘의 대기질 섹션 */
.air-quality-section {
  width: 100%;
}

.air-quality-title {
  font-size: 30px; /* 요청된 폰트 사이즈 */
  font-weight: 900;
  margin-top: 55px;
  margin-bottom: 20px;
}

.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  justify-content: center; /* 카드들을 중앙에 정렬 */
  gap: 10px; /* 카드 사이의 간격 */
}

.chart-padding {
  padding-left: 20px;
  display: grid;
  grid-template-columns: auto;
}

.chart-placeholder {
  padding: 180px 20px 20px 20px;
  color: #888;
}

/* 행동요령 */
.main-guide-container {
  padding: 10px;
}

.main-guide-tile {
  font-size: 30px;
  font-weight: 900;
  padding-top: 30px;
  padding-bottom: 20px;
}

.main-guide-card-container {
  max-width: 760px;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 10px;
  display:flex;
  flex-direction: column;
  gap: 10px;
}

.main-guide-image {
  padding-left: 15px;
}

.main-guide-card {
  display: grid;
  /* flex-direction: row;
  justify-content: space-around; */
  grid-template-columns: 1fr 2px 1fr;
  gap: 10px;
}

.main-guide-card-sensitive, .main-guide-card-public {
  line-height: 30px;
  padding: 20px;
}

.main-guide-card-sub-title {
  font-size: 15px;
  font-weight: 900;
}

.main-guide-sensitive-content-box, .main-guide-public-content-box {
  padding: 20px;
}

.main-guide-sensitive-content, .main-guide-public-content {
  font-size: 15px;
  max-width: 300px;
  overflow: hidden;
  text-align: left;

  /* 1줄 이상 넘어가면 ...으로 처리 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.main-guide-button {
  display: flex;
  justify-content: end;
}

.main-button {
  background-color: var(--clr-gy);
  border-radius: 20px;
  width: 100px;
  text-align: center;
  font-size: 10px;
  line-height: 20px;
}

.main-button:hover {
  cursor: pointer;
}

/* 모바일 반응형 스타일 */
@media (max-width: 800px) {
  .contents-size-main-left {
    margin: 0;
  }
  .card-container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 10px; /* 모바일 화면에서 카드 간격 조정 */
  }

  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .chart-padding {
    padding-left: 0;
    padding-top: 20px;
  }
  
  .chart-placeholder {
    padding: 20px;
  }
}