.contents-size-main-left {
  max-width: 800px;
  width: 100%;
  min-height: 720px;
  margin: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-container {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.main-head-container {
  max-width: 530px;
  width: 100%;
}

.dropdown-btn {
  display: flex;
  gap: 10px;
}

/* 오늘의 대기질 섹션 */
.air-quality-section {
  width: 100%;
  margin-top: 5px;
}

.air-quality-title {
  font-size: 25px; /* 요청된 폰트 사이즈 */
  font-weight: bold;
  margin-bottom: 20px;
}

.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  justify-content: center; /* 카드들을 중앙에 정렬 */
  gap: 10px; /* 카드 사이의 간격 */
}

.chart-padding {
  padding-left: 20px;
  display: grid;
  grid-template-columns: auto;
}

/* 행동요령 */
.main-guide-container {
  margin: 20px;
}

.main-guide-tile {
  font-size: 25px;
  font-weight: 900;
}

.main-guide-card-continer {
  max-width: 760px;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 10px;
  display:flex;
  flex-direction: column;
  gap: 10px;
}

.main-guide-image {
  padding-left: 30px;
}

.main-guide-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-guide-card-sub-title {
  font-size: 15px;
}

.main-guide-sensitive-content, .main-guide-public-content {
  font-size: 15px;
  text-indent: 10px;
  max-width: 300px;
  overflow: hidden;

  /* 1줄 이상 넘어가면 ...으로 처리 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.main-guide-button {
  display: flex;
  justify-content: end;
}

.main-button {
  background-color: var(--clr-gy);
  border-radius: 20px;
  width: 150px;
  text-align: center;
}

.main-button:hover {
  cursor: pointer;
}

/* 모바일 반응형 스타일 */
@media (max-width: 800px) {
  .contents-size-main-left {
    margin: 20px auto;
  }
  .card-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* 모바일 화면에서 카드 간격 조정 */
  }

  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .chart-padding {
    padding-left: 0;
    padding-top: 20px;
  }
}