/* 1. 카드 디테일 부분 - 스크롤 내부 (AlertDetailItem) -------------------------------------------------------------------- */
.alert-detail-container {
  font-size: var(--fs-cnt-body);
  color: var(--clr-bk);
}

.alert-detail-moveName {
  font-weight: var(--fw-bold);
  font-size: var(--fs-cnt-body);
  color: var(--clr-dg);
  padding-bottom: 10px;
  display: block;
}

.alert-detail-info {
  padding-left: 15px;
  padding-bottom: 10px;
}

.alert-detail-value {
  font-weight: var(--fw-bold);
}

.alert-detail-time {
  padding-left: 10px;
  font-size: var(--fs-cnt-body);
  color: var(--clr-dg);
}