.alert-status-card {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #fff;
  border: 1px solid black;
  padding: 20px;
}

.alert-status-card-districtName {
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-bottom: solid 1px #c9c9c9;
}

.alert-status-card-contents {
  display: flex; 
  flex-direction: column;
  gap: 20px; 
  flex-wrap: wrap; 
}

.alert-status-card-contents p {
  margin: 0;
}

.alert-status-card-contents > div {
  font-size: 15px;
  text-align: left;
  color: black;
}

.alert-status-card-issueGbn {
  display: block;
  width: 100%;
  border-radius: 20px;
  text-align: center;
  padding: 15px;
  font-size: 25px;
  font-weight: bold;
}

.badge-warning {
  background-color: #facc15; 
  color: black; 
}

.badge-danger {
  background-color: #dc2626;
  color: #fff;
}

.badge-default {
  background-color: #6b7280; 
  color: #fff;
}


/* .sub-title {
  font-size: 40px;
  font-weight: 900;
}
.content-title {
  font-size: 30px;
  font-weight: 900;
}
.content-sub-title {
  font-size: 25px;
  font-weight: 900;
}
.content-text {
  font-size: 15px;
} */