.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 60px 0;
}

.pagination-button {
  background-color: var(--clr-wh);
  border: 1px solid var(--clr-gy);
  color: var(--clr-dg);
  padding: 8px 15px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.2s;
  font-size: 15px;
}

.pagination-button:hover:not(:disabled) {
  background-color: var(--clr-gy);
  color: var(--clr-bk);
}

.pagination-button.active {
  background-color: var(--clr-db);
  color: var(--clr-wh);
  border-color: var(--clr-dg);
  font-weight: var(--fw-bold);
}

.pagination-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}